<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Prueba Ansible</title> 
</head>

<body>
  <h1>Gathering Facts</h1>
  <p>Este ordenador se llama: {{ ansible_hostname }}</p>
  <p>SO: {{ansible_distribution}} {{ansible_distribution_release}} </p>
  <h1>Variables declaradas por el usuario a nivel de grupo</h1>
  <p>Nombre de la bd: {{modifica_el_nombre}}</p>
  <p>Usuario de la bd: {{modifica_el_nombre}}</p>
  <h1>Variables declaradas por el usuario a nivel de nodo</h1>
  <p>IP: {{modifica_el_nombre}}</p>
</body>
</html>